.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

section {
  padding-left: 20px;
}

.section__subtitle {
  font-size: 1.2rem;
  font-weight: bolder;
}
